---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/code?q=gem%20devise%20filename:Gemfile%20path:/%20user:thoughtbot%20language:ruby
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '10'
      X-Ratelimit-Remaining:
      - '9'
      X-Ratelimit-Reset:
      - '1443500705'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"incomplete_results":false,"items":[{"name":"Gemfile","path":"/Gemfile","sha":"887c752b2a82fecbd4ea235728fac7039e61dc57","url":"https://api.github.com/repositories/13926719/contents//Gemfile?ref=f29ba7680abecaa80a7995268b0d2bbdf48719c6","git_url":"https://api.github.com/repositories/13926719/git/blobs/887c752b2a82fecbd4ea235728fac7039e61dc57","html_url":"https://github.com/thoughtbot/podcasts/blob/f29ba7680abecaa80a7995268b0d2bbdf48719c6//Gemfile","repository":{"id":13926719,"name":"podcasts","full_name":"thoughtbot/podcasts","owner":{"login":"thoughtbot","id":6183,"avatar_url":"https://avatars.githubusercontent.com/u/6183?v=3","gravatar_id":"","url":"https://api.github.com/users/thoughtbot","html_url":"https://github.com/thoughtbot","followers_url":"https://api.github.com/users/thoughtbot/followers","following_url":"https://api.github.com/users/thoughtbot/following{/other_user}","gists_url":"https://api.github.com/users/thoughtbot/gists{/gist_id}","starred_url":"https://api.github.com/users/thoughtbot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/thoughtbot/subscriptions","organizations_url":"https://api.github.com/users/thoughtbot/orgs","repos_url":"https://api.github.com/users/thoughtbot/repos","events_url":"https://api.github.com/users/thoughtbot/events{/privacy}","received_events_url":"https://api.github.com/users/thoughtbot/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/thoughtbot/podcasts","description":"Application
        for hosting podcasts","fork":false,"url":"https://api.github.com/repos/thoughtbot/podcasts","forks_url":"https://api.github.com/repos/thoughtbot/podcasts/forks","keys_url":"https://api.github.com/repos/thoughtbot/podcasts/keys{/key_id}","collaborators_url":"https://api.github.com/repos/thoughtbot/podcasts/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/thoughtbot/podcasts/teams","hooks_url":"https://api.github.com/repos/thoughtbot/podcasts/hooks","issue_events_url":"https://api.github.com/repos/thoughtbot/podcasts/issues/events{/number}","events_url":"https://api.github.com/repos/thoughtbot/podcasts/events","assignees_url":"https://api.github.com/repos/thoughtbot/podcasts/assignees{/user}","branches_url":"https://api.github.com/repos/thoughtbot/podcasts/branches{/branch}","tags_url":"https://api.github.com/repos/thoughtbot/podcasts/tags","blobs_url":"https://api.github.com/repos/thoughtbot/podcasts/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/thoughtbot/podcasts/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/thoughtbot/podcasts/git/refs{/sha}","trees_url":"https://api.github.com/repos/thoughtbot/podcasts/git/trees{/sha}","statuses_url":"https://api.github.com/repos/thoughtbot/podcasts/statuses/{sha}","languages_url":"https://api.github.com/repos/thoughtbot/podcasts/languages","stargazers_url":"https://api.github.com/repos/thoughtbot/podcasts/stargazers","contributors_url":"https://api.github.com/repos/thoughtbot/podcasts/contributors","subscribers_url":"https://api.github.com/repos/thoughtbot/podcasts/subscribers","subscription_url":"https://api.github.com/repos/thoughtbot/podcasts/subscription","commits_url":"https://api.github.com/repos/thoughtbot/podcasts/commits{/sha}","git_commits_url":"https://api.github.com/repos/thoughtbot/podcasts/git/commits{/sha}","comments_url":"https://api.github.com/repos/thoughtbot/podcasts/comments{/number}","issue_comment_url":"https://api.github.com/repos/thoughtbot/podcasts/issues/comments{/number}","contents_url":"https://api.github.com/repos/thoughtbot/podcasts/contents/{+path}","compare_url":"https://api.github.com/repos/thoughtbot/podcasts/compare/{base}...{head}","merges_url":"https://api.github.com/repos/thoughtbot/podcasts/merges","archive_url":"https://api.github.com/repos/thoughtbot/podcasts/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/thoughtbot/podcasts/downloads","issues_url":"https://api.github.com/repos/thoughtbot/podcasts/issues{/number}","pulls_url":"https://api.github.com/repos/thoughtbot/podcasts/pulls{/number}","milestones_url":"https://api.github.com/repos/thoughtbot/podcasts/milestones{/number}","notifications_url":"https://api.github.com/repos/thoughtbot/podcasts/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/thoughtbot/podcasts/labels{/name}","releases_url":"https://api.github.com/repos/thoughtbot/podcasts/releases{/id}"},"score":7.2116995},{"name":"Gemfile.lock","path":"/Gemfile.lock","sha":"be93ac8498b37b6fe2fe36c0c692cba79f327abf","url":"https://api.github.com/repositories/13926719/contents//Gemfile.lock?ref=f29ba7680abecaa80a7995268b0d2bbdf48719c6","git_url":"https://api.github.com/repositories/13926719/git/blobs/be93ac8498b37b6fe2fe36c0c692cba79f327abf","html_url":"https://github.com/thoughtbot/podcasts/blob/f29ba7680abecaa80a7995268b0d2bbdf48719c6//Gemfile.lock","repository":{"id":13926719,"name":"podcasts","full_n[...]
